<div class="container">
  <html>
  <head>
    <title>podcast</title>
    <style>
      .without_ampm::-webkit-datetime-edit-ampm-field {
        display: none;
      }
      input[type="time"]::-webkit-clear-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        margin: -10px;
      }
    </style>
  </head>
  <body>
    <form action="{{url_for('pod_edit',id=update.id)}}" method="POST" >
      podcast name <input name="song_name" type="text" value={{ update.name}} > Duration
      <input name="Duration" class="without_ampm" type="time" value={{ update.duration}} >
      Host <input name="host" type="text" value={{ update.host}}>
      participants<input name="participants" type="text" value={{ update.participants}}>
      <button>submit</button>
    </form>
  
  </body>
  </html>
  
  
  
  
  
  
  
  
  
  