<html>
  <head>
    <title>Podcast</title>
    <style>
      .without_ampm::-webkit-datetime-edit-ampm-field {
        display: none;
      }
      input[type="time"]::-webkit-clear-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        margin: -10px;
      }
    </style>
  </head>
  <body>
    <form method="POST" action="/podcast">
      podcast name <input name="song_name" type="text" /> Duration
      <input name="Duration" class="without_ampm" type="time" />
      Host <input name="host" type="text" />
      participants<input name="participants" type="text" />
      <button>submit</button>
    </form>

    <br />
    <div class="container md-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">podcast_id</th>
            <th scope="col">podcast_name</th>
            <th scope="col">Duration</th>
            <th scope="col">date and time</th>
            <th scope="col">Host</th>
            <th scope="col">participants</th>
            
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        {% for user in users %}
        <tbody>
          <tr>
            <!-- <th scope="row"></th> -->
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.duration}}</td>
            <td>{{user.time}}</td>
            <td>{{user.host}}</td>
            <td>{{user.participants}}</td>
            
            

            <td>
              <a
                href="{{ url_for('pod_edit',id=user.id) }}"
                class="btn btn-outline-warning"
                >Edit</a
              >
            </td>
            <td>
              <a
                href="{{ url_for('pod_delete',id=user.id) }}"
                class="btn btn-outline-warning"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
